/*
-------------------------------------------------------------------
                    sidebar ( pas touche )
-------------------------------------------------------------------
*/

body {
  display: flex;
  margin: 0;
  font-family: sans-serif;
  color: white;
  background-color: #1d2127;
}

.sidebar {
  user-select: none;
  background: #181b20;
  color: #fff;
  width: 200px;
  min-height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 0px 15px 15px 0px;
  filter: drop-shadow(2px 0 5px rgba(0, 0, 0, 0.3));
}

/* ===== Dossier ===== */
.folder .element {
  position: relative;
  margin-bottom: 5px;
  cursor: pointer;
}

/* ===== Liens principaux (dossier) ===== */
.folder > .element > a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 8px;
  border-radius: 4px;
  font-weight: bold;
  background: #222;
  transition: 0.2s;
  margin-bottom: 5px;
}

.folder > .element > a:hover {
  background: #444;
  transform: translateY(-2px);
}

/* ===== Liens dropdown ===== */
.dropdown {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #1d2127;
  border-radius: 10px;
}

.dropdown a {
  padding: 6px 14px;
  font-size: 14px;
  color: #ccc;
  font-weight: normal;
  text-decoration: none;
  border-radius: 4px;
}

.dropdown a:hover {
  color: #fff;
  transition: all 0.2s ease;
  background: #333;
  transform: translateY(-2px);
}

/* 
=================================================================
      main panel ( open bar ( mais delete pas des choses ) )
=================================================================
*/
.main_panel {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}
.warning {
  position: relative;
  background-color: #ffcc00;
  color: #333;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-weight: bold;
}
.warning:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}
.close-warning {
  user-select: none;
  position: absolute;
  top: 8px;
  right: 10px;
  background: transparent;
  border: none;
  color: #111;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.close-warning:hover {
  transform: scale(1.2);
}
a {
  color: #1e90ff;
  text-decoration: none;
}