/*
-------------------------------------------------------------------
                    Gabriel
-------------------------------------------------------------------
*/

body {
  display: flex;         /* sidebar + main_panel horizontal */
  margin: 0;
  font-family: sans-serif;
}

.sidebar {
  background: #111;
  color: #fff;
  width: 200px;
  min-height: 100vh;
  padding: 10px;
  box-sizing: border-box;
}

.folder .element {
  position: relative;
  margin-bottom: 5px;
  cursor: pointer;
}

/* ===== Liens principaux (dossier) ===== */
.folder > .element > a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 8px;
  border-radius: 4px;
  font-weight: bold;
  background: #222;
  transition: 0.2s;
  margin-bottom: 5px;
}

.folder > .element > a:hover {
  background: #444;
  transform: translateY(-4px);
}

/* ===== Liens dropdown ===== */
.dropdown {
  display: none;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 5px;
}

.dropdown a {
  padding: 6px 14px;
  font-size: 14px;
  color: #ccc;
  font-weight: normal;
  text-decoration: none;
  border-radius: 4px;
}

.dropdown a:hover {
  color: #fff;
  transition: all 0.2s ease;
  background: #333;
  transform: translateY(-4px);
}

/* ===== Main panel ===== */
.main_panel {
  flex: 1;               /* prend tout l'espace restant à côté de la sidebar */
  padding: 20px;
  box-sizing: border-box;
}
